.SecondaryButton {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 0;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif !important;
    cursor: pointer;
    background-color: var(--secondary);
    transition: all linear 0.15s;
    font-weight: 600;
}

.SecondaryButton:hover {
    color: var(--secondary);
    background-color: var(--primary);
}