.Home {}

.Home__banner {
    min-width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home__banner__body {
    min-width: 100%;
}

.Home__banner__body__head {
    margin: auto;
    text-align: center;
    font-size: 60px;
    color: var(--primary);
}

.Home__banner__body__button {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_categories {
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Home_categories_box {
    background-color: var(--tertiary);
    min-width: 30%;
    max-width: 30%;
    min-height: 85vh;
    max-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid var(--secondary);
}

.Home_categories_box_special {
    background-color: var(--yellow);
}

.Home_categories_box_text {
    min-width: 100%;
    text-align: center;
    font-size: x-large;
    color: var(--primary);
    font-weight: 900;
    padding: 20px 0 0px 0;
}

.Home_categories_box_image {
    min-width: 20vw;
    max-width: 20vw;
    min-height: 55vh;
    max-height: 55vh;
    
}

.Home_featured{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home_featured_arrow{
    color: var(--secondary);
}
.Home_featured_main{
    min-width: 80%;
    max-width: 80%;

}
.Home_featured_main_head{
    border-bottom: 1px solid var(--tertiary);
    padding: 70px 0 20px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Home_featured_main_head_left{
    font-size: larger;
    font-weight: 900;    
    color: var(--secondary);
}
.Home_featured_main_head_right{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.Home_featured_main_head_right_one_selected{
    cursor: pointer;
    color: var(--yellow);
    font-size: medium;
    font-weight: bold;
    padding-bottom: 2px;
    border: none;
    border-bottom: 2px solid var(--yellow);
    background-color: transparent;
    font: inherit;
}
.Home_featured_main_head_right_one{
    background-color: transparent;
    border: none;
    font: inherit;
    padding-bottom: 2px;
    cursor: pointer;
    font-size: medium;
    color: var(--secondary);
}
.Home_featured_main_body{
    background-color: thistle;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}