.Header {
    position: absolute;
    background-color: transparent;
    min-width: 80%;
    max-width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0 0;
}

.Header__left {
    font-weight: 900;
    font-size: xx-large;
    color: var(--primary);
}

.Header__center {
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header__center__nav {
    color: var(--primary);
    font-size: medium;
    cursor: pointer;
    font-weight: 600;
}

.Header__center__nav__selected {
    color: var(--secondary);
    font-size: medium;
    cursor: pointer;
    font-weight: 600;
}

.Header__center__nav:hover {
    color: var(--secondary);
}

.Header__center__line {
    min-width: 0.5px;
    max-width: 0.5px;
    height: 20px;
    background-color: var(--primary)
}

.Header__right {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .Header__right__icon {
    position: relative;
    color: var(--primary);
    cursor: pointer;
    transition: all linear 0.15s;
}

.Header__right__icon__number {
    position: absolute;
    background-color: var(--secondary);
    border-radius: 200px;
    padding: 2px 5px;
    color: var(--primary);
    transform: translateX(20%) translateY(-20%);
    right: 0;
    top: 0;
    font-size: xx-small;
}